[Desktop Entry]
Name=Night Clock
Exec=qmlscene $@ Main.qml
Icon=NightClock.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Splash-Color=#000

Name[en_CA]=retro-clock.desktop
